.board {
  width: 39.583333%;
  height: 95%;

  margin: 2.5%;

  border-color: var(--fg-color);
  border-width: 2px;
  border-style: solid;

  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
