.boardContainer {
  background-color: #282828;

  height: 90vmin;
  width: 90vmin;

  border-color: #928374;
  border-width: 2px;
  border-style: solid;

  display: flex;

  justify-content: space-between;
  align-items: space-between;
}

.pane {
  width: 25%;
  height: 95%;

  margin: 2.5%;

  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

